.theme{
    --background: #168554;
    color: white;
}

@media only screen and (min-width: 768px){
    /* phone */
    .theme ion-button{
        width: 100%;
    }
}

.funcBttn{
    --background: #168554;
    color: white;
}

.dateStyle{
    background-color: #168554;
}