ion-header ion-toolbar {
    --background: #168554;
    --color: white;
}

@media only screen and (min-width: 768px){
    /* phone */
    .theme ion-button{
        width: 100%;
    }
}

.funcBttn{
    --background: #168554;
    color: white;
}

.dateStyle{
    /* background-color: #168554; */
}

ion-modal.datetime-modal * {
    color: #000;
}

.hide-on-mobile {
    display: none;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 300ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
  width: 100%;
}